################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BorsukSoftware.Conical.Tools.AWSDeviceFarmResultsUploader/.vs
/BorsukSoftware.Conical.Tools.AWSDeviceFarmResultsUploader/bin
/BorsukSoftware.Conical.Tools.AWSDeviceFarmResultsUploader/obj
